<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-selector.min.css') }}">
		
		

		<script src="{{ url_for('static', filename='jquery.js') }}"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		
	</head>
	<body style="background-color:#333">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="search-box map show-search-box">
						<form class="form-map form-search" id="form-map" role="form">
							<h2>Search Country Information</h2>
							<div class="form-group">
								<input type="text" class="form-control" id="search-box-property-id" placeholder="PropertyID">
							</div>
							<div class="form-group">
								<!-- <select name="type" style="display:none;">
									<option value>Medida</option>
									<option value="1">SS</option>
									<option value="2">DD</option>
								</select> -->
								<div class="btn-group bootstrap-select">
								  <button class="btn dropdown-toggle selectpicker btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown">
								    <span class="filter-option pull-left">Default</span>
								    <span class="caret"></span>
								  </button>
								  <div class="dropdown-menu open animation-fade-out">
									  <ul class="dropdown-menu inner selectpicker animation-fade-out" aria-labelledby="dropdownMenu1">
									    <li><a href="#">Action</a></li>
									    <li><a href="#">Another action</a></li>
									    <li><a href="#">Something else here</a></li>
									    <li role="separator" class="divider"></li>
									    <li><a href="#">Separated link</a></li>
									  </ul>
								  </div>
								</div>
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control" id="search-box-property-id" placeholder="PropertyID">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-default">Search Now</button>
							</div>
						</form>		
					</div>
				</div>
			</div>
		</div>
	</body>
</html>